<body>
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #17067a"
  >
    <div class="container-fluid">
      <div class="logoContain" style="height: 40px; width: 40px"></div>
      <a class="navbar-brand" routerLink="../advisee-dashboard"
        >Advisor Dashboard</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="../advisee-schedule"
              >View Advisees</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="../advisee-schedule"
              >Create Schedule</a
            >
          </li>
        </ul>
      </div>
      <div class="logoutContain" style="height: 30px; width: 30px"></div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="courseContain">
          <h2 style="color: white; text-align: center; padding-top: 20px">
            Available Courses
          </h2>
          <!--Component start-->
          <div class="row" style="padding-top: 20px">
            <div class="col text-center">
              Filter:
              <select
                name="filter"
                [(ngModel)]="filter"
                (change)="getFilteredCourses()"
                style="color:black"
              >
                <option value="No Filter">No Filter Selected</option>
                <option
                  *ngFor="let discipline of disciplines"
                  [value]="discipline.discipline"
                >
                  {{ discipline.discipline }}
                </option>
              </select>
              <br />
              <div class="example-container">
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="available_courses"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div
                    class="example-box justify-content-center overflow-auto"
                    *ngFor="let item of available_courses"
                    cdkDrag
                    [cdkDragDisabled]="hasCourseBeenTaken(item.course_id)"
                  >
                    {{ item.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Component end-->
        </div>
      </div>
      <div class="col">
        <div class="scheduleContain">
          <!--Component start-->
          <h2 style="text-align: center; padding-top: 20px">
            Student: {{ advisee.firstName }} {{ advisee.lastName }}
          </h2>
          <h3 style="text-align: center; padding-top: 20px">Planned Courses</h3>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="chosen_courses"
                [cdkDropListConnectedTo]="[todoList]"
                class="example-list"
                style="width: 400px; max-height: 250px"
                (cdkDropListDropped)="drop($event)"
              >
                <div *ngFor="let item of chosen_courses">
                  <div
                    class="example-box justify-content-center"
                    *ngIf="item.course_id != -1"
                    cdkDrag
                  >
                    {{ item.name }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>

          <h5 style="text-align: center; padding-top: 30px">Signatures</h5>
          <!--Component end-->
          <div class="row">
            <div class="col">
              <div class="row text-center">
                <div class="col">
                  Advisor Signature:
                  <input
                    type="text"
                    [(ngModel)]="scheduleForm.advisorSignature"
                    style="color: black;"
                  />
                </div>
              </div>
              <br />
              <div class="row text-center">
                <div class="col">
                  Advisee Signature:
                  <input
                    type="text"
                    name=""
                    id=""
                    [(ngModel)]="scheduleForm.adviseeSignature"
                    style="color: black;"
                  />
                </div>
              </div>
              <br />
              <div class="row text-center">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="submit()"
                  >
                    Confirm Courses
                  </button>
                  <p style="color: red;" *ngIf="displayFillData">Please Sign Before Submitting</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</body>
