doctype html
html 
    .fullscreen-container
        .head
            style
                include ../public/stylesheets/style.css
        .body
            button(type='button', onclick="window.location.href='http://localhost:3000/';") Back to login
            .forgot-password-form
                h2 Reset Password <br>
                    h4
                    p Input your Quinnipiac email below. Follow the directions in the email to reset your password.
                    input(type='text', name='Password Reset', size='20')
                    <br>
                    <br>
                    <br>
                    button(type='button') Reset Password

