doctype html
html 
    .fullscreen-container
        .head
            style
                include ../public/stylesheets/style.css
        .body
            button(type='button', onclick="window.location.href='http://localhost:3000/';") Back to login
            .register-form
                h2 Create New Account <br>
                    h4
                    label Quinnipiac email: 
                    input(type='text', name='QU email', size='20')
                    <br>
                    label Password:
                    input(type='text', name='Password', size='20')
                    <br>
                    label Confirm Password: 
                    input(type='text', name='Confirm password', size='20')
                    <br>
                    label Role: 
                    select
                        option(value='')
                        option(value='Program Director') Program Director 
                        option(value='Advisor') Professor
                        option(value='Student') Student
                    <br>
                    <br>
                    button(type='button') Create Account
