body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("../images/QUplaid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  height: 100vh;
}

.container {
  text-align: center;
  margin: auto;
  width: 20%;
}

.classRow {
  width: 300px;
  height: 20px;
  background-color: grey;
  padding-top: 40px;
  margin-top: 20px;
  margin-left: 200px;
}

.logoContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 20px;
}

.logoutContain {
  background-image: url("../../assets/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.viewContain {
  height: 70vh;
  width: 90vh;
  background-color: darkblue;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
}
