body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("../images/QUplaid.jpg");
  background-size: cover;
  background-repeat: repeat;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  text-align: center;
  margin: auto;
  width: 20%;
}

.classRow {
  width: 300px;
  height: 20px;
  background-color: grey;
  padding-top: 40px;
  margin-top: 20px;
  margin-left: 200px;
}

.logoContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 20px;
}

.logoutContain {
  background-image: url("../images/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.viewContain {
  height: 100%;
  width: 70%;
  background-color: darkblue;
  margin: auto;
  margin-top: 2%;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  display: flex;
  display: block;
  margin-left: 15px;
  padding-top: 3%;
}

.navbar a {
  color: white;
  font-size: large;
}

.navbar {
  display: flex;
  background-color: #17067a;
}

.navbar ul a:hover, .navbar ul a:focus, .navbar ul .active {
  color: #FFFF00;
}