<div *ngIf="!advisingPeriodInProgress">
    <ngb-accordion #acc="ngbAccordion" *ngFor="let advisee of advisees">
        <ngb-panel title="{{advisee.firstName}} {{advisee.lastName}}">
            <ng-template ngbPanelContent>
                <app-schedule [advisee_id]="advisee.advisee_id"></app-schedule>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<div *ngIf="advisingPeriodInProgress">
    <div class="card" style="width: 18rem;" *ngFor="let advisee of advisees">
        <div class="card-body">
        <h1 class="card-title" routerLink="/build-schedule">{{advisee.firstName}} {{advisee.lastName}}</h1>
        </div>
    </div>
</div>
