<div class="row">
  <div class="col" style="padding: auto;">
    <div class="text-center" *ngIf="plannedCourses.length != 0">
      <h2 [ngClass]="{ 'advisee-view': adviseeView }" style="white-space: nowrap;">
        Planned Courses
      </h2>
    </div>
    <div class="container" *ngIf="plannedCourses.length != 0">
      <div class="card" *ngFor="let course of correctCourses">
        <div class="card-body text-center correct-registration">
          <p class="card-text" >{{ course.name }}</p>
        </div>
      </div>
      <div class="card" *ngFor="let course of plannedCourses">
        <div class="card-body text-center flagged-planning">
          <p class="card-text">{{ course.name }}</p>
        </div>
      </div>
    </div>
    <div class="container text-center" *ngIf="plannedCourses.length == 0">
      <h2 style="color: red">No Planned Courses</h2>
    </div>
  </div>

  <div class="col">
    <div class="text-center" *ngIf="registeredCourses.length != 0">
      <h2 [ngClass]="{ 'advisee-view': adviseeView }" style="white-space: nowrap;">
        Registered Courses
      </h2>
    </div>
    <div class="container" *ngIf="registeredCourses.length != 0">
      <div class="card" *ngFor="let course of correctCourses">
        <div class="card-body text-center correct-registration">
          <p class="card-text">{{ course.name }}</p>
        </div>
      </div>
      <div class="card" *ngFor="let course of registeredCourses">
        <div class="card-body text-center flagged-registration">
          <p class="card-text">{{ course.name }}</p>
        </div>
      </div>
    </div>
    <div class="container text-center" *ngIf="registeredCourses.length == 0">
      <h2 style="color: red">No Registered Courses</h2>
    </div>
  </div>
</div>
