.flagged-registration {
  background-color: orange;
}

.flagged-planning {
  background-color: orange;
}

.correct-registration {
  background-color: lightgreen;
}

.registered-message {
  font-size: larger;
}

.advisee-view {
  color: white;
}
