.logoContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 20px;
}

.body {
  color: white;
}

.logoutContain {
  float: right;
  background-image: url("../images/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}