body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("../images/QUplaid.jpg");
  background-size: cover;
  background-repeat: repeat;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  overflow: hidden;
}

.column {
  width: 50%;
  float: left;
}

button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  vertical-align: middle;
  width: 50vh;
  height: 15vh;
  padding: 60px;
  font-size: x-large;
}

.logoContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 20px;
}

.logoutContain {
  background-image: url("../images/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.viewContain {
  width: 80%;
  background-color: darkblue;
  margin-top: 15%;
  border-radius: 20px;
}

.fileContain {
  width: 80%;
  background-color: darkblue;
  margin-top: 15%;
  border-radius: 20px;
  padding-bottom: 35%;
}

a {
  text-decoration: none;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  display: flex;
  display: block;
  margin-left: 15px;
  padding-top: 3%;
}

.navbar a {
  color: white;
  font-size: large;
}

.navbar {
  display: flex;
  background-color: #17067a;
  white-space: nowrap;
}

.navbar ul a:hover, .navbar ul a:focus, .navbar ul .active {
  color: #FFFF00;
}

input[type=checkbox] {
  transform: scale(1.5);
}