<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="admin-file-upload.component.css" />
    <title>Admin File Upload</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logoContain" style="height: 40px; width: 40px; margin-right: 0px"></div>
      <ul class="navbar-right">
        <li>
          <a style="padding-top: 20px;" routerLink="../admin-view">Dashboard</a>
        </li>
        <li>
          <a class="active" routerLink="../admin-file-upload">File Upload</a>
        </li>
        <li>
          <a  routerLink="../admin-view-advisees">Plan Schedule</a>
        </li>
        <li>
          <a routerLink="../admin-report-advisees">Advisee Report</a>
        </li>
        <li>
          <a routerLink="../admin-report">All Advisors Report</a>
        </li>
      </ul>
              <div
          class="logoutContain ml-auto"
          style="height: 30px; width: 30px;"
          (click)="logout()"
        ></div>
    </nav>
    <div class="container">
      <div class="row">
        <div
          class="alert alert-success"
          role="alert"
          *ngIf="showSuccessfulUpload"
        >
          Successfully Uploaded!
        </div>
        </div>
        <div class="column">
          <div class="viewContain">
            <h4 style=" padding-top: 5%; font-size: 20px; font-weight:500; text-align: center; line-height: 40px;"
            >
              The Following Files Can Be Uploaded:
            </h4>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.math == 'true'"
              />
              Math Courses
            </h3>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.engineering == 'true'"
              />
              Engineering Courses
            </h3>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.uc == 'true'"
              />
              Courses with Specific UC Areas
            </h3>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.all == 'true'"
              />
              All Courses Offered at Quinnipiac
            </h3>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.studentFaculty == 'true'"
              />
              Students, Their Courses Taken, Their Advisors
            </h3>
            <h3 style="margin-left: 15%">
              <input
                type="checkbox"
                disabled
                [checked]="files.registered == 'true'"
                style="margin-bottom: 10%;"
              />
              Courses Students have Registered For
            </h3>
          </div>
        </div>
        <div class="column">
          <div class="fileContain">
            <h2
              style="
                color: white;
                text-align: center;
                padding-top: 30px;
                padding-bottom: 20px;
              "
            >
              Uploaded Files
            </h2>
            <app-test-file-input
              (updateCheckboxes)="getUploadedFiles()"
              (successfulUpload)="successfulUpload()"
            ></app-test-file-input>
          </div>
        </div>
    </div>
  </body>
</html>
