body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url("../images/QUplaid.jpg");
  background-size: cover;
  background-repeat: repeat;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  overflow: hidden;
}

.column {
  width: 50%;
  float: left;
}

button {
  margin: 20% auto auto auto;
  width: 80%;
  height: 400px;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  float: right;
  white-space: normal;
}

.imageContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  margin: 10% auto auto auto;
}

.logoContain {
  background-image: url("../images/QUlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 20px;
}

.logoutContain {
  background-image: url("../images/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.navbar ul li {
  list-style-type: none;
  float: left;
  display: flex;
  display: block;
  margin-left: 15px;
  padding-top: 3%;
}

.navbar a {
  color: white;
  font-size: large;
}

.navbar {
  display: flex;
  background-color: #17067a;
}

.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
  color: #ffff00;
}