.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 0px;
    max-height: 380px;
    background: white;
    border-radius: 4px;
    overflow: scroll;
    display: block;
  }
  
  .example-box {
    padding: 20px 20px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    font-weight: 300;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-image: url("../images/QUplaid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    overflow: hidden;
  }
  
  .col {
    width: 50%;
  }
  
  .scheduleContain {
    height: 95%;
    width: 95%;
    background-color: darkblue;
    margin-top: 10%;
    border-radius: 20px;
  }
  
  .courseContain {
    height: 95%;
    width: 80%;
    background-color: darkblue;
    margin-top: 10%;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  button {
    margin-top: 10%;
    width: 80%;
    height: 70%;
    font-size: large;
    font-weight: 700;
    text-align: center;
    white-space: normal;
  }
  
  .filter {
    width: 145px;
    height: 20px;
    background-color: grey;
    padding-top: 5%;
  }
  
  .logoContain {
    background-image: url("../images/QUlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .logoutContain {
    background-image: url("../images/logout.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  a {
    text-decoration: none;
  }
  
  .navbar ul li {
    list-style-type: none;
    float: left;
    display: flex;
    display: block;
    margin-left: 15px;
    padding-top: 3%;
  }
  
  .navbar a {
    color: white;
    font-size: large;
  }
  
  .navbar {
    display: flex;
    background-color: #17067a;
  }
  
  .navbar ul a:hover, .navbar ul a:focus, .navbar ul .active {
    color: #FFFF00;
  }